<div class="main-wrapper">
  <h1 id="title">
    {{title}}
  </h1>
  <h3 id="instructions">
    {{instructions}}
  </h3>

  <div id="button-wrapper">
    <div class="sort-by">Sort By</div>
    <button class="btn" (click)="sortById('id')" value="id">Id</button>
    <button class="btn" (click)="sortByColumn('name')" value="name">Name</button>
    <button class="btn" (click)="sortByColumn('email')" value="email">Email</button>
    <button class="btn" (click)="sortByColumn('body')" value="body"> Body</button>
    <form id="form-wrapper">
      <label class="label-holder">Search Table</label>
      <input class="input-form" placeholder="Search" type = "text" [(ngModel)]="input" name="input">
    </form>
  </div>
  <table class="ng2-table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Body</th>
    </thead>
    <tbody>    
    <tr *ngFor="let item of data | filter: input">      
      <td>
        {{item.id}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.email}}
      </td>
      <td>
        {{item.body}}
      </td>
        
    </tr>
    </tbody>
      
  </table>

</div>
