<div class="main-wrapper">
  <h1 id="title">
    {{title}}
  </h1>
  <h2 id="instructions">
    {{instructions}}
  </h2>
    <form id="form-wrapper">
      <label>Search by id, email or any text in the body</label>
      <input class="input-form" placeholder="Search" type = "text" [(ngModel)]="input" name="input">
    </form>
  <div id="button-wrapper">
    <button class="btn" (click)="sortById('id')" value="id">Sort By Id</button>
    <button class="btn" (click)="sortByColumn('name')" value="name">Sort By Name</button>
    <button class="btn" (click)="sortByColumn('email')" value="email">Sort By Email</button>
    <button class="btn" (click)="sortByColumn('body')" value="body">Sort By Body</button>
    
  </div>
  <table class="ng2-table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Body</th>
    </thead>
    <tbody>    
    <tr *ngFor="let item of data | filter: input">      
      <td>
        {{item.id}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.email}}
      </td>
      <td>
        {{item.body}}
      </td>
        
    </tr>
    </tbody>
      
  </table>

</div>
